---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tautulli
spec:
  components:
    - ../../../components/volsync
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 1h
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app tautulli
  path: ./kubernetes/apps/default/tautulli/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  timeout: 5m
  interval: 1h
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
