---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tautulli
spec:
  components:
    - ../../../../components/volsync
  interval: 1h
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app tautulli
  path: ./kubernetes/apps/default/tautulli/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
    substitute:
      APP: tautulli
      VOLSYNC_STORAGECLASS: openebs-hostpath
      VOLSYNC_CAPACITY: 5Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  timeout: 5m
